### Loading and inspecting data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pickle

In [3]:
titanic = pd.read_csv('input_output/Titanic.csv')

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic_modeling = titanic[['Pclass','Age','SibSp','Parch','Fare','Survived']]

In [6]:
titanic_modeling.head()

   Pclass   Age  SibSp  Parch     Fare  Survived
0       3  22.0      1      0   7.2500         0
1       1  38.0      1      0  71.2833         1
2       3  26.0      0      0   7.9250         1
3       1  35.0      1      0  53.1000         1
4       3  35.0      0      0   8.0500         0

### Analyzing missing values

In [9]:
titanic_modeling.isnull().sum()

Pclass      0
Age         0
SibSp       0
Parch       0
Fare        0
Survived    0
dtype: int64

In [8]:
titanic_modeling['Age'].fillna(titanic_modeling['Age'].mean(), inplace=True)

C:\Anaconda\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

### Developing predictive model

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [11]:
X = titanic_modeling.drop('Survived', axis =1)

In [12]:
y = titanic_modeling['Survived']

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=12345)

In [14]:
X_train.head()

     Pclass        Age  SibSp  Parch     Fare
599       1  49.000000      1      0  56.9292
776       3  29.699118      0      0   7.7500
619       2  26.000000      0      0  10.5000
361       2  29.000000      1      0  27.7208
53        2  29.000000      1      0  26.0000

In [15]:
model = RandomForestClassifier(n_estimators=100)

In [16]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [17]:
y_pred = model.predict(X_test)

In [18]:
y_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1], dtype=int64)

### Testing model performance and save it as Pickle

In [19]:
from sklearn import metrics

In [20]:
print("Accuracy", metrics.accuracy_score(y_test, y_pred))

Accuracy 0.6333333333333333

In [22]:
pickle.dump(model, open('model.pkl','wb'))